<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Templates and themes
	link(rel="stylesheet", href="/main.css")
body
	include ./partials/header
	block content
	include ./partials/footer
	